
<div id="background-image">
</div>
<div class="controller">
  <input type="file" id="uploadBtn" accept="image/png,image/jpg">
</div>
<div id="main">
  <div id="navbar">
    <div class="fb-like" style="z-index: 500;top:50px;left:10px;" data-href="http://www.coverfb.net" data-send="true" data-layout="box_count" data-width="220" data-show-faces="true"></div>
  </div>
  <div id="profile_pic_education">
    <span class="icon-camera camera-btn" id="cropBtnProfile"></span>
  </div>
  <div id="cover_image">
    <span class="btn btn-primary select-photo" id="select_photo">Select a photo</span>
    <span class="icon-camera camera-btn" id="cropBtnCover"></span>
  </div>
  <div class="leftSide"></div>
  <div class="rightSide"></div>
</div>
<audio id="camera">
  <source src="<%= asset_path('camera-sound.mp3') %>" type="audio/mpeg" />
</audio>
