
<div id="background-image">
  <img src="http://pic.pimg.tw/galinsong/1340792424-2947753571.jpg">
</div>
<div class="controller">
  <button id="cropBtnCover">crop Cover</button>
  <button id="cropBtnProfile">crop Profile</button>
  <input type="file" id="uploadBtn" accept="image/png,image/jpg">
</div>
<div id="main">
  <div id="navbar"></div>
  <div id="profile_pic_education"></div>
  <div id="cover_image"></div>
  <div class="leftSide"></div>
  <div class="rightSide"></div>
</div>
<audio id="camera">
  <source src="http://cd.textfiles.com/maxsounds/WAV/EFEITOS/CAMERA1.WAV" type="audio/mpeg" />
</audio>
