@import "compass/reset";
@import 'compass/utilities';
@import 'compass/css3';

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #E7EBF2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main{
  background-image: image-url('facebook_timeline_smoother.png');
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#navbar{
  background-image: image-url('facebook_timeline_smoother.png');
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 38px;
  background-color: #3b5998;
}

#background-image{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img{
    width: 100%;
  }
}



#profile_pic_education{
  border-radius: 1px;
  border: 3px solid white;
  outline: 1px solid gray;
  width: 163px;
  height: 160px;
  position: absolute;
  left: 174px;
  top: 250px;
  z-index: 100;
}

#cover_image{
  position: absolute;
  width: 850px;
  height: 315px;
  top: 38px;
  left: 139px;
  z-index: 99;
}

.leftSide{
  top: 38px;
  left: 0px;
  height: 100%;
  position: absolute;
  background-color: #e7ebf2;
}

.rightSide{
  top: 38px;
  right: 0px;
  height: 100%;
  position: absolute;
  background-color: #e7ebf2;
}
