@import 'compass/utilities';
@import 'compass/css3';

// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: #E7EBF2;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main{
  opacity: 0.92;
  background-image: image-url('facebook_timeline_smoother.png');
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#navbar{
  background-image: image-url('facebook_timeline_smoother.png');
  background-repeat: no-repeat;
  background-position: center 0;
  width: 100%;
  height: 38px;
  background-color: #3b5998;
}

#background-image{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img{
    width: 100%;

  }
}



#profile_pic_education{
  border-radius: 1px;
  border: 3px solid white;
  outline: 1px solid gray;
  width: 163px;
  height: 160px;
  position: absolute;
  left: 174px;
  top: 250px;
  z-index: 100;
  overflow: hidden;
  .download{
    position: absolute;
    left: 4px;
    top: -3px;
  }
  &:hover{
    @include box-shadow(rgba(white, 0.9) 0 0 25px, rgba(gray, 0.8) 0 0 3px 1px inset);
    .controller-group{
      display: block;
    }
  }
}

#cover_image{
  cursor:move;
  position: absolute;
  width: 850px;
  height: 315px;
  top: 38px;
  left: 151px;
  z-index: 99;
  overflow: hidden;
  .download{
    position: absolute;
  }
  &:hover{
    @include box-shadow(rgba(white, 0.9) 0 0 25px, rgba(gray, 0.8) 0 0 3px 1px inset);
    outline: 1px solid #FFF;
    .controller-group{
      display: block;
    }
  }
  .select-photo{
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    padding-top: 32px;
    width: 500px;
    height: 50px;
    font-size: 50px;
  }
}

#profile_pic_education .controller-group,
#cover_image .controller-group{
  display:none;
}

div.controller-group{
  top: 5px;
  float:left;
  right: 5px;
  position: absolute;
  a{
    text-indent: -9999px;
    font-size: 20px;
    cursor: pointer;
  }
}

.leftSide{
  top: 38px;
  left: 0px;
  height: 100%;
  position: absolute;
  background-color: #e7ebf2;
}

.rightSide{
  top: 38px;
  right: 0px;
  height: 100%;
  position: absolute;
  background-color: #e7ebf2;
}
.controller{
  position: absolute;
}

.hidden{
  display: none;
}

#uploadBtnControl{
  top: 15px;
}

a.myicon-clockwise, a.myicon-anticolockwise{
  font-family: "Arial Unicode MS","DejaVu Sans",sans-serif;
  text-indent: 0;
  font-size:16px;
  color: black;
  text-decoration: none;
  text-align: center;
  width: 18px;
  height: 16px;
}
